<div class="footer">
  <div class="links">
    <div class="column navigation">
      <p class="heading">ng-xmp</p>
      <ul>
        <li>
          <a
            class="link"
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/svenson95/ng-xmp-landing-animations"
          >
            GitHub Repository
          </a>
        </li>
        <li>
          <a
            class="link"
            target="_blank"
            rel="noopener noreferrer"
            href="https://angular.io"
          >
            angular.io
          </a>
        </li>
        <li>
          <a
            class="link"
            target="_blank"
            rel="noopener noreferrer"
            href="https://svenson95.github.io/sb-portfolio/"
          >
            svenson95.github.io/sb-portfolio
          </a>
        </li>
      </ul>
    </div>
    <div class="column navigation">
      <p class="heading">Material theming</p>
      <ul>
        <li>
          <a
            class="link"
            target="_blank"
            rel="noopener noreferrer"
            href="https://material.angular.io/guide/theming"
          >
            Theming Angular Material
          </a>
        </li>
        <li>
          <a
            class="link"
            target="_blank"
            rel="noopener noreferrer"
            href="https://material.angular.io/guide/getting-started"
          >
            Getting Started
          </a>
        </li>
        <li>
          <a
            class="link"
            target="_blank"
            rel="noopener noreferrer"
            href="https://material.angular.io/guide/schematics"
          >
            Schematics
          </a>
        </li>
        <li>
          <a
            class="link"
            target="_blank"
            rel="noopener noreferrer"
            href="https://material.angular.io/guides"
          >
            More Guides
          </a>
        </li>
      </ul>
    </div>
  </div>
  <small class="copyright">
    <span>For more details read the official documentation </span>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://angular.io/guide/animations"
    >
      https://angular.io/guide/animations
    </a>
  </small>
</div>
