@use "sass:list";
@use "sass:math";
@use "sass:selector";
@use "./constants";

// REM Font Adjustments
@mixin font-size($sizeValue) {
  font-size: ($sizeValue) + px;
  font-size: math.div($sizeValue, 10) + rem;
}

@mixin letter-spacing($spacingValue) {
  letter-spacing: ($spacingValue) + px;
  letter-spacing: math.div($spacingValue, 10) + rem;
}

@mixin line-height($heightValue) {
  line-height: ($heightValue) + px;
  line-height: math.div($heightValue, 10) + rem;
}

// PLACEHOLDER
// NOTE: Vendor-prefixed selectors must be on separate blocks, because one invalid/unknown
//       selector will invalidate the whole block.
@mixin placeholder {
  &:-ms-input-placeholder {
    @content;
  } // IE
  &::-ms-input-placeholder {
    @content;
  } // Edge
  &::-webkit-input-placeholder {
    @content;
  } // QQ Browser
  &::placeholder {
    @content;
  } // Chrome/Firefox/Safari
}
