<app-header></app-header>
<main>
  <h2>Define theme</h2>
  <p>
    In our <code>main.scss</code> we call <code>@include mat.core()</code>, to
    include the base styles for Angular Material core. We include this here, in
    our styling entry point, so that you only have to load a single css file for
    Angular Material in your app.
  </p>

  <p>
    In the <code>custom-themes</code> folder we have two theme files,
    <code>light-theme.scss</code> and <code>dark-theme.scss</code>, where we set
    our primary, accent & warn colors. The
    <code>theme-toggle.component.ts</code> initially loads the theme through
    <code>initializeThemeFromPreferences()</code>, where we check whether
    there's an explicit preference in localStorage, otherwise initialize based
    on the prefers-color-scheme media query.
  </p>

  <h2>File organization</h2>
  <p class="mb-0">
    The <code>.scss</code> files are organized in the following sub-directories:
  </p>
  <ul>
    <li>
      <code>0-base</code>: General styles affecting the whole application.
    </li>
    <li>
      <code>1-layouts</code>: Styles for areas/components related to the layout
      of the application, such as <code>header</code>, <code>footer</code>,
      <code>content-layout</code>, etc.
    </li>
    <li>
      <code>2-modules</code>: Styles for specialized components (such as
      buttons, code, labels, etc.) and specific pages (such as API list page,
      "Features" page, etc.).
    </li>
    <li>
      <code>custom-themes</code>: Entry-points for the different themes
      available in the application (in this case light and dark).
    </li>
  </ul>
  <p class="mb-0">
    There are also some top-level files in <code>src/styles/</code>:
  </p>
  <ul>
    <li>
      <code>_app-theme.scss</code>: Defines a <code>theme()</code> Sass mixin
      for creating an application theme.
    </li>
    <li>
      <code>_constants.scss</code>: Defines several constants to be used
      throughout the styles.
    </li>
    <li>
      <code>_mixins.scss</code>: Defines Sass mixins to be used throughout the
      styles.
    </li>
    <li><code>main.scss</code>: Styles entry-point.</li>
  </ul>
</main>
<app-footer></app-footer>
